@media (max-width: 550px) {
    .random-butt {
        width: 90% !important;
        font-size: 1.85rem !important;
    }

    .random-items {
        width: 400px !important;
    }
    .collection-name {
        font-size: 1.7em !important;
        font-weight: 500;
        margin: 10px;
    }

    .collection-image {
        margin: 5px; 
    }
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWKBXyIfDnIV7nMrXyi0A.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWKBXyIfDnIV7nFrXyi0A.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@keyframes shake {
    0% {
        transform: translateY(0);
    }
    50%, 60%, 70% {
        transform: rotate(5deg);
    }
    55%, 65%, 75% {
        transform: rotate(-5deg);
    }
    80% {
        transform: rotateY(0)
    }
	100% {
        transform: translateY(0);
    }
}

@keyframes refuse {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(8px);
    }
    20% {
        transform: translateX(-8px);
    }
    40% {
        transform: translateX(7px);
    }
    50% {
        transform: translateX(-7px);
    }
    60% {
        transform: translateX(5px);
    }
    70% {
        transform: translateX(-5px);
    }
    80% {
        transform: translateX(0px);
    }
}   


/* DEFAULT ATTRIBUTES STYLE */
* {
    font-family: 'Rubik';
    transition: opacity 0.6s;
}

body {
    background-color: #181818;
}

p {
    color: white;
}

.hidden-display {
    display: none !important;
}

.hidden-opacity {
    opacity: 0;
}
/* RANDOM PHOTO DEFINITION AND SHOW*/
.random-butt {
    display: block;
    margin: 10px auto 19px;
    padding: 0;
    width: 30rem;
    height: 3rem;
    font-size: 2.4em;
    font-family: 'Rubik';
    color: #ffffff;
    background-color: rgb(197, 6, 255);
    border: 2px solid #ffffff;
    border-radius: 10px;    
    transition: 0.3s;
}

.random-butt:hover {
    background-color: rgba(150, 0, 196, 0.993);
    transition: 0.3s;
}

.random-items {
    display: block;
    margin: auto;
    width: 500px;
    height: 600px;
    border-radius: 10px;
    border: 2px solid #222222;
    background-color: rgb(27, 27, 27);
}

.rarity {
    display: block;
    text-align: center;
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 1.7em;
}

.showleha {
    display: block;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    height: 500px;
}

.photo {
    display: block;
    margin: auto;
    border: 3px solid rgb(255, 201, 54);
    border-radius: 24px;
}

/* COLLECTION OF CARDS */
.collection-cards {
    display: flex;
    flex-direction: row;
}
.collection-name {
    font-size: 1.5em;
    font-weight: 500;
    margin: 10px;
}

.collection {
    display: block;
}

.collection-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 0;
    height: 450px;
    transition: 0.2s;
    overflow-x: none; 
    overflow-y: scroll;
    
}

.collection-image {
    display: block;
    padding: 0;
    margin: 10px
}

.arrow-left {
    display: none;
}

.arrow-right, .arrow-left{
    width: 60px;
    height: 60px;
    transition: 0.2s;
}

.arrow-right:hover, .arrow-left:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

/* RARITIES AND THEIR COLORS*/
.common {
    border: 5px solid;
    border-color: #c2c2c2;
    border-radius: 24px;
}

.rare {
    border: 5px solid;
    border-color: #00f7ff;
    border-radius: 24px;
}

.epic {
    border: 5px solid;
    border-color: #c918ff;
    border-radius: 24px;
}

.legendary {
    border: 5px solid;
    border-color: #ffc400;
    border-radius: 24px;
}

.ultra-legend-color {
    border: 5px solid;
    border-color: #f5750d;
    border-radius: 24px;
}
/* ULTRA LEGEND */
.ultra-legend-button {
    display: block;
    margin: 5rem 40px;
    padding: 10px;
    width: 350px;
    height: 97px;
    background-image: url(imgs/chesters.png);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 2rem;
    -webkit-text-stroke: 1px #1f1e1e;
    user-select: none;
    transition: 0.2s;
}

.ultra-legend-button:hover {
    transform: translateY(-6px);
    transition: 0.2s;
}

.ultra-legend-card {
    display: block;
    margin: 0 auto !important;
}

.ultra-legend-color {
    border: 5px solid;
    border-color: #f5750d;
    border-radius: 24px;
}

.ultra-legend-text {
    color: #f5750d;
    font-size: 1.7em;
    text-align: center;
}
/* BACK BUTTON */
.back-button {
    display: block !important;
    opacity: 1;
}