html {
    background-color: #505050;
}
.random-butt {
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 20em;
    font-size: 15em;
    color: red;
    margin: 0 auto;
    background-color: #6bb678;
    border-radius: 1em;
}